extends layout

block content

  h1 #{title}
  form(method='POST', action='/images', enctype='multipart/form-data')
    #form-group
      label Description:
      input.form-control(name='description', type='text')
    #form-group
      label Uploader:
      input.form-control(name='uploader', type='text')
    #form-group
      label File:
      input.form-control(name='file', type='file')
    br
    input.btn.btn-primary.btn-block(type='submit',value='Submit')
