extends layout

block content

  h1 #{title}
  .custom-file.mb-3
    form(method='POST', action='/images/upload', enctype='multipart/form-data')
      #form-group
        label(for='file') Choose file:
        input.form-control(name='file', type='file', id="file")
      br
      input.btn.btn-primary.btn-block(type='submit',value='Submit')
