body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

a {
  color: #00B7FF;
}

.alert-error{
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-success_msg{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
